/* Universal select all elements */
* {
	
}

/* Select all elements in body */
body {
	text-align: center;
	font-family:  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* Black Box Title*/
.title-card {
	width: 450px;
	height: 250px;
	margin: auto;
	outline: solid 1px black;
	display: block;
	justify-content: center;
	background-color: #191919;
	text-align:center;
	color: White;
	padding-top: 25px;
}

#title-hr {
	width: 80%;
	background-color:#767676;
}

#title-no {
	font-size: 60px;
	vertical-align: top;
}

/* Display for the number */
#title-num {
	font-size: 100px;
}

img {
	padding-top: 60px;;
}

#interest {
	color: #b3b28e; 
	letter-spacing: 2px;
}

/* Link controls */
a:link,
a:visited {
  color: White;
}

/* Used for the text under the image due to exessive white space in the png image*/
.container-img {
  position: relative;
  text-align: center;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 60px;
}

/* Black Bordered Button used for Get In Touch*/
.bwbutton {
  background-color: #ffffff; /* White */
  color: black;
  padding: 20px 75px;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border: 3px solid black;
  letter-spacing: 3px;
  cursor: pointer;
  
}

footer {
	background-color: #191919;
	padding-bottom: 50px;
}

hr {
	border-color:gray;
}

.signupbutton {
  background-color: #191919; /* Black */
  color: White;
  padding: 15px 75px;
  text-align: center;
  font-size: 16px;
  border: 3px solid White;
  letter-spacing: 3px;
  cursor: pointer;
}

.contactbutton {
	background-color: #191919; /* Black */
	color: White;
	padding: 10px 55px;
	text-align: center;
	font-size: 16px;
	border: 3px solid White;
	letter-spacing: 3px;
	cursor: pointer;
	height: 50px;
	cursor: pointer;
	display: inline-block;
	clear: both;
	overflow: hidden;
	white-space: nowrap;
}

/* Change the size of the input box for email*/
input {
	padding: 15px 75px; /* Length x Width */
	text-align: left;
}

/* General contrainer used for flexbox css*/
.container {
  display: flex;
  flex-direction: row;
  padding-left:25px;
  background-color: #191919;
}

/* Container to hold the Read Article */
.first {
  width: 30vw;
  height: 200px;
  text-align: center;
  justify-content: center;	/* x-axis center */
  display: flex;
  margin: auto;
  align-items: center;
  background-color: #191919;
}

/* Contrainer to hold the Sign Up Newsletter */
.second {
  width: 70vw;
  height: 200px;
  text-align: left;
  padding-left: 70px;
  padding-top: 40px;
  margin: auto;
  align-items: center;
}

/* Container to hold the HeadQuarters */
.third {
  width: 30vw;
  height: auto;
  padding-top: 20px;
  text-align: left;
  margin: auto;
}

/* Container to hold the Offices */
.fourth {
  width: 70vw;
  height: auto;
  text-align: left;
  padding-left: 70px;
  padding-top: 20px;
  margin: auto;
  align-items: center;
}

/* Styling for the Newsletter heading */
#newsletter {
	color: #a19f78; 
	letter-spacing: 4px;
	text-align:left;
	font-size: 15px;
}

/* Styling for the article heading */
#article {
	letter-spacing: 4px;
}

.no-link {
	text-decoration: none;
}

.main-heading {
	color: #ad9d65;
	letter-spacing: 3px;
	text-align: left;
}

.sub-heading {
	color: #ffffff;
	letter-spacing: 3px;
	text-align: left;
}

.f-text {
	color: #ffffff;
	text-align: left;
}
/* Use a table for the footer? */
table {
	width: 100%;
}

.row {
  display: flex;
}

.column {
	flex: 50%;
	color: #ffffff;
}

.column-three {
	flex: 10%;
	color: #ffffff;
}

.highlight {
	color: #ad9d65;
}

/* Vertical line (custom) */
.vl {
	padding-top: 20px;
	border-left: 1px solid #767676;
	height: 225px;
}
