.fira-sans-black {
  font-family: "Fira Sans", sans-serif;
  font-weight: 900;
  font-style: normal;
}

body {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fira Sans Black", sans-serif;
}

h3 {
  color: #948660; /* Bronze color*/
  letter-spacing: 3px;
}

h4 {
  color: rgb(255, 255, 255);
  letter-spacing: 3px;
}

p {
  color: #000000;
  font-size: 15px;
  word-wrap: normal;
}

img {
  padding-top: 50px;
  margin: auto;
  margin-right: auto;
  margin-left: auto;
  display: inline-flex;
}

input {
  padding: 15px 100px; /* Length x Width */
}

.button {
  background-color: #ffffff; /* White */
  color: black;
  padding: 15px 75px;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 16px;
  border: 2px solid black;
  font-family: "Fira Sans Black", sans-serif;
  letter-spacing: 3px;
  margin: auto;
}

.bwbutton {
  background-color: #191919; /* White */
  color: White;
  padding: 15px 75px;
  text-align: center;
  font-size: 16px;
  border: 3px solid White;
  font-family: "Fira Sans Black", sans-serif;
  letter-spacing: 3px;
}

a:link,
a:visited {
  color: rgb(255, 255, 255);
}

footer {
  text-align: left;
}

.vl {
  border-left: 3px solid #2b2b2b;
  height: auto;
  position: flex;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

.first {
  width: 30vw;
  height: 200px;
  background-color: #191919;
  text-align: center;
  justify-content: center;	/* x-axis center */
  display: flex;
  margin: auto;
  align-items: center;
}

.second {
  width: 70vw;
  height: 200px;
  background-color: #191919;
  text-align: left;
  padding-left: 70px;
  padding-top: 40px;
  margin: auto;
  align-items: center;
  
}

.third {
  width: auto;
  height: 200px;
  background-color: #87c536;
  display: block;
  text-align: center;
  justify-content: center;
  display: flex;
  margin: auto;
  align-items: center;
}

.info {
  color: #ffffff;
}

.info-init {
  color: #948660;
}

#Articles {
  color: #ffffff;
} 
.container {
  display: flex;
  flex-direction: row;
  background-color: #191919;
}

/* Column Styling */
.column {
	float: left;
	width: 50%;
}

.column-three {
	float: left;
	width: 33%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}